<div class="dashboard-container">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Adicionar pensamento</a>
    </div>

    <h3>Seus pensamentos</h3>
    {{#each toughts}}
        <ul>
            <li>{{this.title}}</li>
        </ul>
    {{/each}}



</div>